body {
  font-family: "Poppins", sans-serif;
  color: white;
}

.header {
  text-align: center;
}

.container {
  margin-bottom: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Newsreader", serif;
  margin: 0;
}

.nav-item {
    margin-right: 2rem;
}

.the-hero {
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.navbar {        
  background-color: rgba(0, 0, 0, 0.496);
  backdrop-filter: blur(5px);
}

/* KETUA UMUM */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
html {
  scroll-behavior: smooth;
}

.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: #1e1e1e; /* fallback for old browsers */
  /* -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); */
  /* background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966); Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to bottom, #ff5e62, #ff9966); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.slider .owl-item.active.center .detail-ketum {
  opacity: 1;
}

.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #f44336 !important;
}

.ketum-profile {
  /* -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0)); */
  position: relative;
}

/* BATAS BAWAH KEKTUA UMUM */

.card-cover {
  transition: .15s all;
}

.card-cover:hover {
  transform: scale(1.05);
}

.detail-ketum {
  position: absolute;
  bottom: 5px;
  opacity: 0;
}

.nama {
  padding-bottom: 2px;
  text-align: center;
  border-bottom: 1px solid white;
  margin: 0;
}

.nama, .jabatan {
  text-shadow: 0px 4px 10px #000000;
  font-size: 3vmin;
}